<div class="footer">
	<div class="container">
		<div class="footer-modul wow fadeInDown"  data-wow-duration=".8s">
			<h4>关于</h4>
			<p>是什么让释能币在区块链社区中独树一帜？</p>
			<img src="{{ site.baseurl }}/images/aboutme.jpg" class="img-responsive" alt="">
			<div class="btn">
				<a href="/cn/about/">阅读更多</a>
			</div>
		</div>
		<div class="footer-modul wow fadeInDown"  data-wow-duration=".8s">
			<h4>联系方式</h4>
			<ul>
				<li><i class="glyphicon glyphicon-home" aria-hidden="true"></i><a href="http://web.freedcreators.com/" target="_blank">主页：http://web.freedcreators.com/</a></li>	
				<li><i class="glyphicon glyphicon-link" aria-hidden="true"></i><a href="https://github.com/freedcreators" target="_blank">GitHub：https://github.com/freedcreators</a></li>	
				<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@freedcreators.com" name="email">邮箱：info@freedcreators.com</a></li>				
				<li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>最后更新：{{ site.time }}</li>
			</ul>
		</div>
		<div class="footer-modul wow fadeInDown"  data-wow-duration=".8s">
			<h4>新闻订阅</h4>
			<p>第一时间获取行业最新资讯，不定期把社区活动推送至您的邮箱！</p>
			<div class="subscibe">
				<form action="#" method="post">
					<input type="text" placeholder="Name" required="">
					<input type="text" placeholder="Email" required="">
					<input type="submit" value="现在订阅">
				</form>
			</div>
		</div>
	</div>
</div>