<div class="footer">
	<div class="container">
		<div class="footer-modul wow fadeInDown"  data-wow-duration=".8s">
			<h4>关于</h4>
			<p>目前该博客正在测试中，欢迎各位通过我的<a href="#email">联系方式</a>提交反馈。（主要测试该网页在各设备上的排版情况）</p>
			<img src="{{ site.baseurl }}/images/aboutme.jpg" class="img-responsive" alt="">
			<div class="btn">
				<a href="/about/">阅读更多</a>
			</div>
		</div>
		<div class="footer-modul wow fadeInDown"  data-wow-duration=".8s">
			<h4>联系方式</h4>
			<ul>
				<li><i class="glyphicon glyphicon-home" aria-hidden="true"></i><a href="http://pacey6.com" target="_blank">主页：http://pacey6.com</a></li>	
				<li><i class="glyphicon glyphicon-camera" aria-hidden="true"></i><a href="http://weibo.com/Pacey6" target="_blank">微博：http://weibo.com/Pacey6</a></li>	
				<li><i class="glyphicon glyphicon-link" aria-hidden="true"></i><a href="https://github.com/Pacey6" target="_blank">GitHub：https://github.com/pacey6</a></li>	
				<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:support@pacey6.com" name="email">邮箱：support@pacey6.com</a></li>				
				<li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>最后更新：{{ site.time }}</li>
			</ul>
		</div>
		<div class="footer-modul wow fadeInDown"  data-wow-duration=".8s">
			<h4>订阅博客</h4>
			<p>第一时间获取最新博文信息，博客更新后会通过邮箱提醒。</p>
			<div class="subscibe">
				<form action="#" method="post">
					<input type="text" placeholder="Name" required="">
					<input type="text" placeholder="Email" required="">
					<input type="submit" value="现在订阅">
				</form>
			</div>
		</div>
	</div>
</div>