<div class="container wow fadeInDown"  data-wow-duration=".8s">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">自然</a></li>
		<li role="presentation" class=""><a href="#safari" role="tab" id="safari-tab" data-toggle="tab" aria-controls="safari">生活</a></li>
		<li role="presentation" class=""><a href="#trekking" role="tab" id="trekking-tab" data-toggle="tab" aria-controls="trekking">城市</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="expeditions" aria-labelledby="expeditions-tab">
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p1.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p2.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p3.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="clearfix"></div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="safari" aria-labelledby="safari-tab">
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p4.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p5.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p6.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="clearfix"></div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="trekking" aria-labelledby="trekking-tab">
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p7.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p8.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="col-md-4 col-sm-5 tab-image">
				<img src="{{ site.photosurl }}/p9.jpg" class="img-responsive" alt="Wanderer">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>