<title>Pacey6 博客 | {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pacey6, Blog" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
<link rel="Bookmark" href="{{ site.baseurl }}/images/favicon.ico">
<link href="{{ site.baseurl }}/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link href="{{ site.baseurl }}/css/style.css" rel='stylesheet' type='text/css' />	
<script src="{{ site.baseurl }}/js/jquery-1.11.1.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<!-- animation-effect -->
<link href="{{ site.baseurl }}/css/animate.min.css" rel="stylesheet"> 
<script src="{{ site.baseurl }}/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->