<div class="technology-right">
	<div class="technology-right-inner"
		<!-- search -->
		<div class="search wow fadeInDown"  data-wow-duration=".8s">
			<form action="#" method="post">
				<input type="search" name="Search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
				<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
				<!--<input type="submit" value=" ">-->
			</form>
		</div>
		<!-- search -->
		<!-- hot -->
		<div class="hot-post">
			<h4>热门美文</h4>
			{% for post in site.tags.hot limit:5 %}
			<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s">
				<div class="blog-grid-left">
					<a href="{{ post.url }}" target="_blank"><img src="{{ site.baseurl }}/images/blog/{{ post.cover }}" class="img-responsive" alt=""></a>
				</div>
				<div class="blog-grid-right">
					<h5><a href="{{ post.url }}" target="_blank">{{ post.title }}</a> </h5>
				</div>
				<div class="clearfix"> </div>
			</div>
			{% endfor %}
		</div>
		<!-- hot -->
		<!-- weibo --
		<div class="weibo wow fadeInDown"  data-wow-duration=".8s">
			<h4>微博</h4>
			<ul>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p1.jpg" class="img-responsive" alt=""></a></li>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p2.jpg" class="img-responsive" alt=""></a></li>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p3.jpg" class="img-responsive" alt=""></a></li>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p4.jpg" class="img-responsive" alt=""></a></li>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p5.jpg" class="img-responsive" alt=""></a></li>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p6.jpg" class="img-responsive" alt=""></a></li>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p7.jpg" class="img-responsive" alt=""></a></li>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p8.jpg" class="img-responsive" alt=""></a></li>
				<li><a href="http://weibo.com/Pacey6" target="_blank"><img src="{{ site.photosurl }}/p9.jpg" class="img-responsive" alt=""></a></li>
			</ul>
		</div>
		<p>学习在博客，生活在微博。</p>
		<div class="btn-full wow fadeInDown"  data-wow-duration=".8s">
			<a href="http://weibo.com/Pacey6" target="_blank">微博主页</a>
		</div>
		-- weibo -->
	</div>
</div>
<div class="clearfix"></div>