<!DOCTYPE HTML>
<html>
<head>
{% include headcn.html %}
</head>
<body>
<DIV id=loading style="position:absolute; left:0px; top:0px; height:2000px; width:100%; background-color: #000; z-index:1; text-align:center">
<img style=" width:80px; height:80px; z-index:1; margin:300px auto" src="{{ site.baseurl }}/images/loading.gif" alt=""></div>
<SCRIPT language=JavaScript>
function closeDiv()
{
document.getElementById('loading').style.visibility='hidden';
}
</SCRIPT>
{% include toolbarcn.html %}
{% include headercn.html %}
{% if page.title == '主页' %}
	{% include bannercn.html %}
	{% include gallerycn.html %}
{% else %}
	<div class="banner"></div>
{% endif %}
<div class="technology">
	<div class="container">
		<!-- technology-left -->
		<div class="technology-left">
			{{ content }}
		</div>
		<!-- technology-left -->
		{% include techrightcn.html %}
	</div>
</div>
{% include footercn.html %}
{% include copyrightcn.html %}
<SCRIPT language=JavaScript>
closeDiv()
</SCRIPT>
</body>
</html>