<!DOCTYPE HTML>
<html>
<head>
{% include headcn.html %}
</head>
<body>
{% include toolbarcn.html %}
{% include headercn.html %}
{% if page.title == '主页' %}
	{% include bannercn.html %}
	{% include gallerycn.html %}
{% else %}
	<div class="banner"></div>
{% endif %}
<div class="technology">
	<div class="container">
		<!-- technology-left -->
		<div class="technology-left">
			{{ content }}
		</div>
		<!-- technology-left -->
		{% include techrightcn.html %}
	</div>
</div>
{% include footercn.html %}
{% include copyrightcn.html %}
</body>
</html>