---
layout: default
title: postss
---

<div class="post">
	<!-- blog-main -->
	<h2 id="title" class="ch2 wow fadeInDown"  data-wow-duration=".8s">{{ page.title }}</h2>
	<div id="content" class="single wow fadeInDown"  data-wow-duration=".8s">
		<img id="cover" src="{{ site.baseurl }}/images/blog/{{ page.cover }}" class="img-responsive" alt="">
		{{ content }}
		<p>{{ page.date | date_to_string }}</p> 
	</div>
	<!-- blog-main -->
	<!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8yNzI2Mi8zODQ5">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 -->
	<div class="clearfix"></div>
</div>
